/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  /*background-color: rgba(0, 0, 0, 0.2); */
  background-color: #2eab7110 ;
  }

.top-nav-collapse {
  background-color: #2eab71; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2eab71; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #2eab71; }


/* Footer */
#footerwrap {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2eab71;
}

#footerwrap p {
	color: white;
}

#footerwrap h4 {
	color: white;
}

#footerwrap i {
	font-size: 30px;
	color: #bfc9d3;
	padding-right: 25px;
}

#footerwrap i:hover {
	color: #00b3fe
}




.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}

.btn-theme {
  color: #fff;
  background-color: #2eab71;
  border-color: #2eab71;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #3bab2e;
  border-color: #3bab2e;
}


/* Copyrights */

#copyrights {
  background: #202b38;
  padding: 20px 0;
  text-align: center;
}

#copyrights p,h4 {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #00b3fe;
}

.credits {
  color: #fff;
}
